/* ************************************************************
******* :: INDEX OF CSS :: *******
:: 1.0 WEB FONTS
:: 2.0 IMPORT ALL CSS
:: 3.0 GLOBAL CSS
:: 4.0 COMMON CSS
:: 5.0 PRELOADER CSS
:: 6.0 SCROLL TO TOP AREA CSS
:: 7.0 HEADER AREA CSS
:: 8.0 WELCOME AREA CSS
:: 09.0 POPUP AREA
:: 10.0 FOOTER AREA CSS
:: 11.0 ABOUT AREA CSS
:: 12.0 SERVICES AREA CSS
:: 13.0 HEALTH PACKAGE AREA CSS
:: 14.0 SAMPLE AREA CSS
:: 15.0 REPORTING AREA CSS
:: 16.0 TESTIMONIALS AREA CSS
:: 17.0 CONTACT BANNER AREA CSS
****************************** */

/* ******************************
:: 1.0 WEB FONTS
****************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

/*  
font-family: 'Poppins', sans-serif;
font-family: 'Manrope', sans-serif;
*/


/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */
@import url(bootstrap.min.css);
@import url(et-line.css);
@import url(icofont.min.css);
@import url(all.min.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(custom-animate.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.main {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #222f4b;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    margin-bottom: 0;
}

a {
    color: #444;
}

a:hover {
    color: #2e3192;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.text-primary {
    color: #191b16 !important;
}

/* ******************************
:: 4.0 COMMON CSS
****************************** */
.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.op-5 {
    opacity: 0.5;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4rem;
    width: 4rem;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.h-100vh {
    height: 100vh;
}

.pos-abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
}

.radius-100 {
    border-radius: 100px !important;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dsp-tc {
    display: table-cell;
    vertical-align: middle;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.tooltip > .tooltip-inner {
    background-color: #00cff2;
    padding: 6px;
}

.tooltip-arrow,
.tooltip.top .tooltip-arrow {
    border-top-color: #00cff2;
}

.inner-wrapper {
    min-height: 100vh;
    width: 100%;
}

/*SECTION HEADING*/
.section-heading {
    margin-bottom: 60px;
}

.section-heading > h2 {
    position: relative;
}

.section-heading > h2::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 70px;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*HEADINGS*/
.headings span {
    color: #444;
    font-weight: 500;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    letter-spacing: 1px;
    margin-left: -30px;
}

/*SECTION PADDING*/
.pt_0 {
    padding-top: 0;
}

.ptb_50 {
    padding: 50px 0;
}

.ptb_80 {
    padding: 80px 0;
}

.ptb_100 {
    padding: 100px 0;
}

.ptb_120 {
    padding: 120px 0;
}

.ptb_150 {
    padding: 150px 0;
}

.ptb_180 {
    padding: 180px 0;
}

.color-primary {
    color: #007bff;
}

.color-secondary {
    color: #e03737 !important;
}

@media (min-width: 1200px){
    .container {
        max-width: 1180px;
    }
}



/* ******************************
:: 5.0 PRELOADER AREA CSS
****************************** */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff !important;
    z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 767px) {
    #loader {
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
    }
}

/* ******************************
:: 6.0 SCROLL TO TOP AREA CSS
****************************** */
#scrollUp {
    position: fixed;
    right: 1%;
    bottom: 3%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: #f58220;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    display: none;
}

#scrollUp > i {
    font-size: 24px;
    line-height: 38px;
    display: block;
    color: #fff;
}

#scrollUp svg{
    color: #fff;
    font-size: 18px;
}

#scrollUp:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */
.hero-wrapper .svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    height: 100%;
    z-index: -1;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    background: #ffffff;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar .navbar-nav .nav-link-btn:hover{
    color: #191b16 !important;
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #7e8085;
}

.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

.navbar .navbar-brand-sticky {
    display: none;
}

.navbar-sticky {
    -webkit-transition: none;
    transition: none;
}

.navbar-sticky-transitioned {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar-sticky-moved-up {
    position: fixed;
    top: 0;
    background: #fff;
    margin-top: -100px;
}

[data-theme=dark] .navbar-sticky-moved-up {
    background: #01081f;
    -webkit-box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
    box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
}

.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.navbar-sticky-on .navbar-brand-regular {
    display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
    display: inline;
}

/*NAVBAR DARK*/
.navbar-dark .navbar-nav .nav-link {
    color: #191b16;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #2e2a29;
}

.navbar-dark .navbar-nav .nav-link-btn {
    background: #f58220;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 50px;
    padding: 12px 30px !important;
    margin-top: 6px;
}

.navbar-dark .btn-outline {
    color: #fff;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #7e8085;
    text-shadow: none;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn{
    /* background-color: #d31f3b; */
    color: #fff; 
    /* margin-top: 12px; */
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn:hover{
    color: #fff !important;
    background-color: #f58220;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #e7eaee;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #f58220;
}
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn.current-menu-item {
    color: #fff;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #D2D5DA;
}

.navbar-expand-lg .navbar-nav li:last-child{
    margin-left: 10px;
    background: #f58220;
    max-width: 150px;
    padding: 18px;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover{
    color: #f58220;
}

.navbar-brand{
    padding-top: 0.5125rem;
    padding-bottom: 0.5125rem;
}

.navbar-expand-lg .navbar-nav{
    align-items: center;
}

.navbar .navbar-nav .nav-item{
    padding: 18px 8px;
}

.navbar .navbar-nav .nav-link{
    padding: 0 !important;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 15px;
}

.navbar-expand-lg .navbar-nav li:last-child a{
    display: flex;
    font-size: 15px;
}

.navbar-expand-lg .navbar-nav li:last-child a img{
    margin-right: 12px;
}


.banner-overlay{
    display: none;
}

@media(max-width: 991px){
    .banner-overlay{
        display: block !important;
        position: absolute;
        background: #24662473;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.9;
    }
}


/* ******************************
:: 8.0 WELCOME AREA CSS
****************************** */
.welcome-area{
    background-image: url(../img/banner/dianova-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 785px;
}

.welcome-intro{
    margin-top: -50px;
}

.welcome-intro h3{
    color: #fff;
    font-size: 28px;
    letter-spacing: 1px;
}

.welcome-intro h1{
    color: #111359;
    font-size: 65px;
    font-weight: 700;
    max-width: 550px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.welcome-intro span{
    font-family: 'Charmonman', cursive;
    color: #ffffffde;
    font-size: 26px;
}

.intro-btn{
    margin-top: 45px;
}

.intro-btn a{
    background: #f58220;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 15px 62px !important;
    text-transform: uppercase;
    font-size: 18px;
    transition: all .3s ease;
}

.intro-btn a:hover{
    background-color: #111359;
}

.banner-slider .owl-nav button{
    width: 55px;
    height: 55px;
    border: 1px solid #fc425f !important;
    transition: all .3s ease;
}

.banner-slider .owl-nav button.owl-prev{
    position: absolute;
    left: 20px;
    top: 50%;
}

.banner-slider .owl-nav button.owl-next {
    position: absolute;
    right: 20px;
    top: 50%;
}

.banner-slider .owl-nav button span {
    font-size: 55px;
    font-weight: 200;
    line-height: 40px;
    color: #fc425f;
}

.banner-slider .owl-nav [class*=owl-]:hover {
    background: #d31f3b;
    color: #fff;
    border: 1px solid #fff !important; 
}

.banner-slider .owl-nav [class*=owl-]:hover span{
    color: #fff !important;
}

.welcome-intro .intro-head{
    display: flex;
    max-width: 300px;
    align-items: center;
}

.welcome-intro .intro-head h2{
    color: #f58220;
    font-weight: 600;
    margin-right: 10px;
    font-size: 80px;
}

.welcome-intro .intro-head p{
    color: #111359;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

/* ******************************
:: 09.0  POPUP AREA 
****************************** */
.modal-dialog{
    margin-top: 100px;
    max-width: 694px !important;
    z-index: 99999;
}

.order-model .modal-dialog{
    max-width: 894px !important;
}

.modal.fade .modal-dialog{
    top: 48%;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.modal-content {
    border-radius: 0px;
    overflow: hidden;
    padding-bottom: 50px;
}

.modal-header {
    border-bottom: none;
}

.download-close{
    float: right;
    background: #f58220;
    border-radius: 45px;
    border: 1px solid transparent;
    width: 46px;
    height: 46px;
    z-index: 99999;
    position: absolute;
    right: -6px;
    top: -8px;
    padding: 2px 0;
    transition: all .3s ease;
}

.download-close:hover{
    background: #111359;
}

.download-close span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    line-height: 45px;
    padding: 5px 16px;
}

#letter5{
    text-align: center;
}

.letter_inner .heading {
    margin-bottom: 0px;
}

.heading h2 {
    font-size: 35px;
    line-height: 24px;
    color: #193d6f;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
}

.heading h2:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: linear-gradient(to right, #f58220 0%, transparent 100%);
    z-index: 99;
}

#letter6 .tab-content, #letter5 .tab-content {
    padding: 0 50px;
}

.order-model form{
    display: block;
}

.order-model label {
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    color: #999;
    line-height: 24px;
    position: absolute;
    left: 34px;
    top: -12px;
    background: #fff;
    padding: 0 8px;
    z-index: 99;
}

#letter5 select, #letter5 input {
    margin-bottom: 15px;
    position: relative;
    color: #193d6f;
    resize: none;
    font-weight: 300;
    border: 0.5px solid #ccc;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    border-radius: 3px;
    z-index: 9;
    box-shadow: none;
    cursor: pointer;
}

#letter5 input:focus {
    outline: none !important;
    border: 0.5px solid #9b1b44;
    color: #193d6f;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.order-model .datepicker {
    position: relative;
}

.popup-btn a{
    background: #f58220;
    color: #fff;
    padding: 12px 50px;
    border-radius: 5px;
    transition: all .3s;
}

.popup-btn a:hover{
    background-color: #111359;
    color: #fff;
}

.popup-btn{
    margin-top: 20px;
}

.modal.fade .modal-dialog{
    display: flex;
}

.popup-img-main{
    background-color: #f58220;
}

.popup-img{
    /* width: 280px; */
    background-image: url(../img/bg/popup-bg.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* ******************************
:: 10.0 FOOTER AREA CSS
****************************** */
footer{
    background-color: #171831;
    z-index: 1;
}

.footer-top{
    padding: 70px 0;
}

.copyright-area {
    color: rgba(255, 255, 255, 0.8);
}

.copyright-area a img{
    max-width: 100px;
}

.footer-top h3{
    color: #fff;
    margin-bottom: 25px;
}

.footer-menu-area ul{
    flex: 0 0 33.33%;
}

.footer-menu-area ul li{
    margin-bottom: 10px;
}

.footer-menu-area ul li a{
    color: #fffc;
    transition: all .3s ease;
    font-size: 17px;
}

.footer-menu-area .third-ul{
    padding-left: 80px;
}

.footer-menu-area ul li a:hover{
    color: #f58220;
}

.ft-address p{
    font-size: 17px;
    color: #fffc;
}

.p-25{
    padding: 2.5rem 0 !important;
}

.ft-contact .icon{
    padding: 0 20px;
}

.ft-contact .icon svg{
    color: #f58220;
}

.ft-contact .num{
    display: flex;
    flex-direction: column;
}

.ft-contact .num a{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.ft-contact .num a:hover{
    color: #f58220;
}

.ft-social .mail{
    margin-bottom: 12px;
}

.ft-social .mail a{
    color: #fffc;
    margin-bottom: 8px;
    transition: all .3s ease;
}

.ft-social .mail a:hover{
    color: #f58220;
}

.ft-social .mail a svg{
    color: #f58220;
    margin-right: 5px;
}

.ft-social .icons ul{ 
    display: flex;
}

.ft-social .icons ul li a{
    font-size: 25px;
    margin-right: 15px;
    transition: all .3s ease;
}

.ft-social .icons ul li a svg{
    color: #fffc;
}

.ft-social .icons ul li a:hover svg{
    color: #f58220;
}

.footer-bg-bottom{
    background-image: url(../img/bg/footer-bg.png);
    background-size: cover;
    background-position: center;
    height: 530px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

/* ******************************
:: 11.0 ABOUT AREA CSS
****************************** */
.about-area .head h3{
    color: #f58220;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 40px;
}

.about-area .head h2{
    color: #191b16;
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 45px;
}

.counter-box {
    flex: 0 0 25%;
    border: 1px solid #ddd;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.counter-box .head-count {
    display: flex;
    margin-bottom: 5px;
}

.counter-box h2 {
    color: #f58220;
    position: relative;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 1;
}

.counter-box .head-count span {
    position: relative;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 1;
    color: #f58220;
}

.counter-box p {
    color: #191b16;
    font-size: 21px;
    letter-spacing: 1px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.iso-text{
    margin: 50px 0 30px;
}

.iso-text p{
    color: #111359;
    font-weight: 700;
    font-size: 22px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 32px;
    font-family: 'Manrope', sans-serif;
}

.about-text{
    margin-bottom: 65px;
}

.about-text p{
    color: #444444;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    word-spacing: 3px;  
    font-family: 'Manrope', sans-serif;
}

.about-btn a{
    color: #444444;
    border: 2px solid #f58220;
    padding: 15px 30px 15px 50px;
    font-weight: 600;
    font-size: 20px;
    transition: all .3s ease;
}

.about-btn a svg{
    margin-left: 35px;
    font-size: 15px;
    font-weight: 400;
}

.about-btn a:hover{
    background: #f58220;
    color: #fff;
}

/* ******************************
:: 12.0 SERVICES AREA CSS
****************************** */
.services-area{
    background-image: url(../img/bg/service-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 70px 0;
}

.service-head{
    overflow: hidden;
    padding: 20px 0;
}

.service-head h2{
    color: #Fff;
    font-weight: 800;
    margin-bottom: 7px;
    font-size: 45px;
}

.service-head p{
    color: #ffffffd9;
    font-size: 22px;
    line-height: 35px;
    max-width: 300px;
    margin-bottom: 45px
}

.service-head .service-btn a{
    background: #f58220;
    border: 2px solid #f58220;
    color: #fff;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s ease;
}

.service-head .service-btn a:hover{
    border: 2px solid #f58220;
    background: transparent;
    color: #f58220;
}

.single-service.nav-tabs{
    border-bottom: none;
}

.single-service .nav-item{
    background: rgb(0,0,0,15%);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    min-height: 225px;
    text-align: center;
}

.single-service .nav-item a .icon img{
    margin: 0 auto;
    margin-bottom: 18px;
}

.single-service .nav-item a h3{
    color: #ffffffcf;
    font-weight: 400;
}

.single-service .nav-item .nav-link:hover{
    border: none;
}

.single-service .nav-item .nav-link:hover h3{
    text-decoration: underline;
}

.single-service .nav-item .nav-link.active{
    color: #fff;
    background-color: transparent;
    border: none;
}

.service-slider .owl-nav{
    position: absolute;
    left: -388px;
    bottom: 25px
}

.service-slider .owl-nav button {
    width: 62px;
    height: 62px;
    border: 1px solid #ffffffd9 !important;
    border-radius: 50%;
    transition: all .3s ease;
    margin-right: 10px;
    outline: none !important;
}

.service-slider .owl-nav button span {
    font-size: 40px;
    font-weight: 200;
    line-height: 30px;
    color: #ffffffd9;
}

.service-slider .owl-nav [class*=owl-]:hover {
    background: #f58220;
    border: 1px solid #f58220 !important;
    color: #fff;
}

.service-slider .owl-nav [class*=owl-]:hover span{
    color: #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: transparent;
}

.nav-tabs .nav-link{
    border: none;
}

/* ******************************
:: 13.0 HEALTH PACKAGE AREA CSS
****************************** */
.health-package{
    position: relative;
    padding: 70px 0 110px;
}

.health-head p{
    color: #f58220;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 40px;
}

.health-head h1{
    color: #191b16;
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 45px;
}

.pg-box{
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: 704px;
}

.pg-box-1{
    background-image: url(../img/packages/1.png);
}

.pg-box-2{
    background-image: url(../img/packages/2.png);
}

.pg-box-3{
    background-image: url(../img/packages/3.png);
}

.pg-box-inner{
    position: absolute;
    bottom: 70px;
    padding: 0 35px;
}

.pg-box-inner span{
    color: #f58220;
    font-size: 32px;
    font-weight: 500;
}

.pg-box-inner h2{
    color: #32368f;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 12px;
}

.pg-box-inner p{
    color: #878b92;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
}

.package-btn a{
    background-color: #f58220;
    color: #fff;
    padding: 13px 85px;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s ease;
    border: 2px solid #f58220;
}

.package-btn a:hover{
    color: #32368f;
    border: 2px solid #f58220;
    background-color: transparent;
}

.pg-bottom-btn{
    margin-top: 70px;
}

.pg-bottom-btn a{
    color: #191b16;
    font-weight: 700;
    font-size: 22px;
    transition: all .3s ease;
}

.pg-bottom-btn a svg{
    margin-left: 28px;
    font-size: 15px;
    font-weight: 400;
}

.pg-bottom-btn a:hover{
    color: #f58220;
    letter-spacing: 1px;
}

.health-bg-bottom{
    background-image: url(../img/bg/package-bg.png);
    background-size: cover;
    background-position: center;
    height: 530px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* ******************************
:: 14.0 SAMPLE AREA CSS
****************************** */
.sample-area{
    background-color: #88bcc0;
    padding: 75px 0 100px;
}

.sample-left-bg{
    background-image: url(../img/bg/sample-collection.png);
    width: 592px;
    height: 620px;
    position: absolute;
    top: -165px;
    bottom: 0;
}

.sample-inner{
    max-width: 700px;
}

.sample-inner .head h1{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 12px;
}

.sample-inner .text p{
    color: #fffc;
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 28px;
}

.sample-btn a{
    background-color: #2c2f7c;
    color: #fff;
    padding: 15px 100px;
    font-size: 16px;
    font-weight: 700;
    word-spacing: 2px;
    transition: all .3s ease;
}

.sample-btn a:hover{
    background-color: #f58220;
    color: #fff;
}

/* ******************************
:: 15.0 REPORTING AREA CSS
****************************** */
.reporting-area{
    position: relative;
}

.online-report{
    background-color: #f0f4fb;
    padding: 50px 50px 70px 380px;
}

.database-report{
    background-color: #fff3e5;
    padding: 50px 350px 85px 60px;
}

.online-report .head h1,
.database-report .head h1{
    color: #222f4b;
    font-weight: 800;
    font-size: 34px;
    margin-bottom: 30px;
}

.online-report .head h1 span,
.database-report .head h1 span{
    color: #f58220;
    font-weight: 500;
}

.online-report .inner,
.database-report .inner{
    display: flex;
    align-items: center;
}

.database-report .inner .icon,
.online-report .inner .icon{
    flex: 0 0 33%;
}

.database-report .inner .text p,
.online-report .inner .text p{
    font-size: 20px;
    padding-left: 25px;
    color: #878b92;
    font-weight: 500;
    line-height: 28px;
}

.reporting-area .container-fluid{
    padding: 0 0;
}



/* ******************************
:: 16.0 TESTIMONIALS AREA CSS
****************************** */
.testi-area{
    padding: 70px 0 100px;
}

.testi-head p{
    color: #f58220;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.testi-head h1{
    color: #191b16;
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 45px;
}

.single-testi{
    max-width: 850px;
    margin: 0 auto;
}

.quote-img img{
    margin: 0 auto;
    margin-bottom: 28px;
}

.single-testi .inner p{
    font-size: 19px;
    color: #444444;
    margin-bottom: 32px;
    line-height: 1.6;
}

.single-testi .details h3{
    color: #444444;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 0;
}

.single-testi .details span{
    color: #444444;
    font-size: 18px;
}

.testi-slider .owl-dots{
    position: relative;
    text-align: center;
    top: 20px;
}

.testi-slider .owl-dots button{
    background: #ddd !important;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
}

.testi-slider .owl-dots button.active,
.testi-slider .owl-dots button:hover{
    background: #f58220 !important;
}

/* ******************************
:: 17.0 CONTACT BANNER AREA CSS
****************************** */
.contact-banner{
    padding: 0 0 100px;
}

.ct-box{
    background: #f58220;
    padding: 60px 50px 70px 65px;
    position: relative;
    z-index: 1;
}

.ct-box .health-bg-bottom{
    height: 300px;
    z-index: -1;
}

.ct-bx-inner .head h1{
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    max-width: 500px;
    margin-bottom: 15px;
}

.ct-bx-inner .text p{
    color: #fffc;
    font-size: 22px;
    margin-bottom: 35px;
    max-width: 650px;
    line-height: 1.5;
}

.ct-bx-btns .bx-one a{
    background: #2c2f7c;
    color: #fff;
    padding: 35px 90px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .3s ease;
    border: 2px solid #2c2f7c;
}

.ct-bx-btns .bx-one a:hover{
    background: transparent;
}

.ct-bx-btns .bx-one{
    margin-right: 30px;
}

.ct-bx-btns .bx-two{
    border: 1px solid #fffc;
    height: 95px;
}

.ct-bx-btns .bx-two .icon{
    height: 95px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    border-right: 1px solid #fffc;
}

.ct-bx-btns .bx-two .icon svg{
    color: #fff;
}

.ct-bx-btns .bx-two .num{
    padding:  0 20px;
}

.ct-bx-btns .bx-two .num a{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.ct-bx-btns .bx-two .num a.num-last{
    margin-bottom: 0;
}

.ct-bx-btns .bx-two .num a:hover{
    color: #2c2f7c;
}

.ct-right-bg{
    background-image: url(../img/bg/contact-footer.png);
    background-position: center;
    background-size: cover;
    height: 535px;
    width: 482px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* ******************************
:: 18.0  AREA CSS
****************************** */
